.hidden{
    display: none;
}

.spazio{
    width: 100%;
    height: 150px;
}

#vista_prodotti{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.div_prodotto{
    margin: 10px;
    border: 2px solid #5f6368;
    border-radius: 10px;
    padding: 5px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.div_prodotto a{
    text-decoration: none;
    color: #1967d2;
}

.div_prodotto a:hover{
    text-decoration: underline;
}

.img_prodotto{
    max-width: 150%;
}

body{
    margin: 0%;
    font-family: "Roboto Condensed", sans-serif;
}



nav{
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: white;
 }

 .nav_bar{
    height: 100%;
    width: 95%;
    display: flex;
    justify-content: space-between;
 }

 .contenitore_link_nav{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

#return_home{
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
}

.link_nav{
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
}

.link_nav a{
    text-decoration: none;
    color: #3c4043;
    font-size: 16px;
    font-family: "Roboto Condensed", sans-serif;
}

.link_nav a:hover{
    color: #1967d2;
}

.img_link_nav{
    height: 24px;
    width: 24px;
}

 .contenitore_icone_nav{
    height: 100%;
    width: 13%;
    display: flex;
    justify-content: space-between;
}

.icone_nav{
    height: 100%;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-symbols-outlined{
    color: rgb(92, 92, 92);
}

.material-symbols-outlined:hover{
    color: #1967d2;
}

#contenitore_barra_ricerca_nav{
    width: 20%;
}

.barra_ricerca{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 13px;
}

#contenitore_barra_ricerca_nav input{
    border-radius: 15px;
    height: 15px;
    border: 1px solid #5f6368;
    width: 80%;
    padding: 10px;
}

#contenitore_barra_ricerca_nav button{
    border-radius: 100%;
    border: 1px solid #5f6368;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
}

#contenitore_barra_ricerca_nav button:hover{
    background-color: #5f6368;
    color: white;
    cursor: pointer;
}

#pubblicità{
    height: 900px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#pubb_1{
    background-color: #e6eefe;
}

#pubb_2{
    background-color: #fdf0e9;
}

.contenitore{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 90%;
    margin-top: 100px;
    border-radius: 35px;
}

.contenitore_scritte{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    text-align: center;
}

.contenitore_scritte div{
    margin-top: 25px;
}

.contenitore_scritte strong{
    font-size: 40px;
    color: #3c4043;
    padding: 15px;
}

.contenitore_scritte span{
    font-size: 16px;
    color: #3c4043;
    padding: 15px;
}

.contenitore_img{
    height: 70%;
    width: 100%;
}

.contenitore_img img{
    height: 100%;
    width: 100%;
}








footer{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f_alto{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: flex-end;
    padding: 90px 70px 70px 70px;
}

.lista_f{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.lista_f a{
    color: #3c4043;
    font-size: 16px;
    font-family: "Roboto Condensed", sans-serif;
    text-decoration: none;
    margin-top: 25px;
}

.lista_f a:hover{
    color: #175ec2;
}



.f_basso{
    border-top: 1px solid #f2f2f2;
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.contenitore_icone_f{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.icone_f{
    height: 100%;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_icona{
    height: 23px;
    width: 23px;
}

.contenitore_link_f{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.link_f{
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
}

.link_f a{
    text-decoration: none;
    color: #3c4043;
    font-size: 12px;
    font-family: "Roboto Condensed", sans-serif;
}

.img_link_f{
    height: 27px;
    width: 27px;
}

.link_regione_f{
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
}

.regione_f{
    text-decoration: none;
    color: #3c4043;
    font-size: 12px;
    font-family: "Roboto Condensed", sans-serif;
    padding: 10px;
}
