.nascosto{
    display: none;
}

body{
    color: #3c4043;
    font-family: "Roboto Condensed", sans-serif;
    background-color: rgb(240 244 249);
    margin: 0px;
}

.errore {
    font-size: 25px;
    text-align: center;
    color: red;
    margin-top: 20px;
  }
  
#alert_form{
    display: flex;
    justify-content: center;
    align-items: center;
}

#alert_form img{
    height: 50px;
    width: 50px;
}

#alert_form em{
    background-color: yellow;
    font-size: 30px;
}

.alert_validazione{
    color: red;
    font-size: 18px;
}

header{
    background-color: white;
    height: 500px;
    width: 90%;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    padding: 0 30px 0 30px;
    margin: 90px 35px 90px 35px;
}

#contenitore_registrazione{
    height: 100%;
    width: 100%;
    display: flex;
}

#contenitore_scritte{
    height: auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 50px;
}

#contenitore_scritte img{
    height: 48px;
    width: 48px;
}

#contenitore_form{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contenitore_form form{
    display: flex;
    flex-direction: column;
    margin: 0 25px 0 25px;
}

#nome,#email,#password{
    height: 45px;
    width: auto;
    border-radius: 5px;
    border: 1px solid #3c4043;
    margin: 10px 0 10px 0;
    padding-left: 10px;
    font-size: 18px;
}

#invia{
    background-color: #1967d2;
    color: white;
    height: 40px;
    width: 70px;    
    border-radius: 20px;
    font-size: 18px;
    align-self: flex-end;
    border: none;
}